/* 

Badges

Displaying a notification badge:

Markup:
    <div class="badge">10</div>
    <div class="badge-info">10</div>
    <div class="badge-important">10</div>

Styleguide 2.1
*/
.badge {
  display: inline-block;
  @include border-radius(11px);
  background-color: $grey;
  font-size: 0.9em;
  font-weight: bold;
  @include box-shadow(0 0 2px 2px $white);
  min-width: 18px;
  min-height: 18px;
  line-height: 18px;
  padding: 2px;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}
.badge-info {
  @extend .badge;
  background-color: $blue-info;
  color: $white;
}
.badge-important {
  @extend .badge;
  background-color: $red-light;
  color: $white;
  &:hover {
    background-color: darken($red-light, 5%);
  }
}

/*
Badge positioning helpers 

Add these classes to position the badge to a corner. Note that the badge's parent element should be contain the
.relative helper class

Markup:

  <p><span class="relative">Hello world<span class="badge-info badge-tl">2</span></span></p>
  <p><span class="relative">Hello world<span class="badge-info badge-tr">2</span></span></p>
  <p><span class="relative">Hello world<span class="badge-info badge-bl">2</span></span></p>
  <p><span class="relative">Hello world<span class="badge-info badge-br">2</span></span></p>

Styleguide 2.1.1
*/
.badge-tl {
  position: absolute;
  top: -5px;
  left: -5px;
}
.badge-tr {
  position: absolute;
  top: -5px;
  right: -5px;
}
.badge-bl {
  position: absolute;
  bottom: -5px;
  left: -5px;
}
.badge-br {
  position: absolute;
  bottom: -5px;
  right: -5px;
}