/* 

Buttons

Markup:
    <a href="#" class="btn {modifiers}">Button</a>
    <a href="#" class="btn-cta {modifiers}">Button</a>
    <a href="#" class="btn-yay {modifiers}">Button</a>
    <a href="#" class="btn-nay {modifiers}">Button</a>

.inactive       - Inactive/disabled version of the button

Styleguide 2.2
*/


.btn {
  @include background-gradient($white, $grey-light);
  @include border-radius(3px);
  @include box-shadow(0px 0px 2px $grey-dark);
  font-family: $fontfamily-thick;
  font-size: 12px;
  display: inline-block;
  border: 1px solid $grey-darker;
  padding: 4px 10px;
  color: $black;
  white-space: nowrap;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
  &.inactive {
    @include background-gradient($grey, $grey-dark);
    color: $grey-darker;
    text-shadow: 0 1px 2px $grey;
    letter-spacing: 0;
    cursor: default;
    &:hover {
      @include background-gradient($grey, $grey-dark);
    }
  }
}

.btn-cta {
  @extend .btn;
  @include background-gradient($blue, $blue-darker);
  color: $white;
  text-shadow: 0 1px 2px $black;
  letter-spacing: 1px;
  &:hover {
    background: $blue;
  }
  
}

.btn-yay {
  @extend .btn;
  @include background-gradient($green-dark, $green-darker);
  color: $white;
}

.btn-nay {
  @extend .btn;
  @include background-gradient($red, $red-dark);
  color: $white;
}
