header.header {
  position: fixed;
  height: $headerHeightDesktop;
  width: 100%;
  top: 0;
  @include background-gradient($grey-lightest, $grey-lighter);
  border: 1px solid $grey;
  box-shadow: 0px 3px 3px -2px $grey-dark;
  z-index: 5;
  nav {
    @extend .clearfix;
    //border-bottom: 1px solid $grey;
    position: relative;
    max-width: $widthDesktop;
    margin: auto;
  }
  // show these only on smaller screens (see media query)
  nav > .icon-search,
  .icon-back,
  .icon-sidebar {
    display: none;
    text-shadow: 1px 1px 1px $white;
    color: $grey-darker;
    width: 30px;
  }

  /* column definition (ONLY) */
  .branding {
    @include col(4.5);
  }
  .header-search {
    @include col(14.5);
  }
  .header-user {
    @include col(4);
  }
  // leaves 1% for dropdown, which is absolutely positioned,
  // which we'll hardcode to 16px
  .dropdown {
    width: 16px;
  }

  /* Logo */
  .branding {
    position: relative;
    img {
      width: 88%;
      max-width: 170px;
      margin: 10px 10% 0 5%;
      @include transition(width .2s ease-out);
    }
  }

  /* Search box */
  .header-search {
    height: 46px;
    padding-top: 20px;
    color: $grey-dark;
    form {
      @include prepend(.75);
      width: 100%;
    }
  }

  /* Logged out User */
  .login {
    color: $grey;
    font-size: 18px;
    text-align: right;
    padding: 20px 10px 0 0;
  }
  .login a {
    display: inline-block;
    padding: 0 5px;
  }

  /* Logged in User */
  .header-user {
    z-index: 2;
    text-align: center;
    margin-top: 5px;
    float: right;
    .userpic {
      position: relative;
      display: inline-block;
      a {
        display: block;
        &:hover {
          text-decoration: none;
        }
        &.hide {
          display: none;
        }
      }
      img {
        width: 40px;
        height: 40px;
      }
      .invites {
        @extend .badge-important;
        @extend .badge-tr;
        color: $white;
        font-size: 1em;
      }
    }
    .myname {
      @extend .txt-s;
      display: block;
      width: 72%;
      margin-left: 17px; // to fix center alignment with dropdown on right
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /* Settings dropdown */
  .dropdown {
    position: absolute;
    top: 48px;
    right: 1%;
    border-left: 1px solid $grey;
    height: 10px;
    padding-bottom: 4px;
    color: $blue-darker;
    i {
      display: inline-block;
      font-size: 18px;
      margin: -4px 0 0 2px;
      cursor: pointer;
    }
    .icon-up {
      display: none;
    }
    &:hover {
      .icon-up {
        display: inline-block;
      }
      .icon-down {
        display: none;
      }
    }
    .dropdown-options {
      right: -2px;
      top: 17px;
      border: 1px solid $grey;
      box-shadow: 0 1px 2px $grey-dark;
      a {
        padding: 2px 20px;
        font-size: .9em;
        background: $grey-lighter;
        color: $blue-darker;
        &:hover {
          background: $blue-darker;
          border-color: $black;
          box-shadow: 0 1px 2px $black;
          color: $white;
          border: $black;
        }
      }
    }
  }
}

@media screen and (max-width: $widthTablet) {
  header.header {
    height: $headerHeightTablet;
    &.with-search {
      height: $headerHeightTablet + 40;
    }
    .icon-back,
    .icon-sidebar {
      float: left;
      margin: 8px 10px 0 0;
      @include prepend(.5);
      font-size: 200%;
    }
    .icon-sidebar {
      display: block;
    }
    nav > .icon-search {
      float: right;
      display: block;
      margin-top: 10px;
      font-size: 150%;
    }
    .branding {
      @include width(12);
      max-width: 160px;
      @include transition(width $pageTransitionTime ease-out);
      display: block;
      margin: auto;
      img {
        margin: 5px;
      }
    }
    .header-search {
      display: none;
      @include col(23);
      @include prepend(.5);
      @include append(.5);
      margin-bottom: 5px;
      clear: both;
      padding: 0;
      border: none;
      height: auto;
    }
    .header-user,
    .login,
    .dropdown {
      display: none;
    }
  }
  .modal-open {
    nav > .icon-sidebar {
      display: none;
    }
    nav > .icon-back {
      display: block;
    }
  }
}
@media screen and (max-width: $widthMiniTablet) {
  header.header {
    height: $headerHeightMiniTablet;
    &.with-search {
      height: $headerHeightMiniTablet + 40;
    }
  }
}
@media screen and (max-width: $widthSmartphone) {
  header.header {
    height: $headerHeightSmartphone;
    nav > .icon-search {
      @include append(1.5);
    }
    &.with-search {
      height: $headerHeightSmartphone + 40;
    }
  }
}