.modal-scrollable {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: none;
  overflow: auto;
  background: #FFF;
  background: rgba(255,255,255,0.7);
  overflow: auto;
  overflow-y: scroll;
  z-index: 10;
}

.modal {
  position: absolute;
  left: 50%;
  top: -100%;
  z-index: 100;
  width: $maxModalWidth;
  margin-left: -($maxModalWidth/2);
  background-color: $white;
  outline: none;
  overflow: visible; // allow content to popup out (i.e tooltips)
  @include border-radius(10px);
  @include box-shadow(0 0 3px 3px $grey-dark);
  @include transition(top $pageTransitionTime ease-out);

  .icon-close {
    @extend .modal-close;
  }
  .modal-header {
    // hide the header, unless 'modal' contains 'with-header' class
    display: none;
    @extend .clearfix;
    @include background-gradient($grey, $grey-light);
    @include border-radius(10px 10px 0 0);
    min-height: 3em;
    position: relative;
    border: 1px solid $black;
    border-bottom-width: 0;
    nav {
      @extend .clearfix;
      margin: 1.5% 1.5% 0 1.5%;
      padding-bottom: 1%;
      border-bottom: 1px solid $grey;
    }
  }
  .modal-body {
    @extend .clearfix;
    @include border-radius(10px);
    display: block;
    border: 1px solid $black;
    background: $grey-light;
    padding-top: 2%;
  }
  .modal-footer {
    @include background-gradient($grey-light, $grey);
    @include border-radius(0 0 10px 10px);
    border: 1px solid $black;
    border-top-width: 0;
    text-align: right;
    min-height: 3em;
    nav {
      margin: 0 1.5% 1% 1.5%;
      padding-top: 1%;
      border-top: 1px solid $grey;
    }
  }
}

.modal-open {
  overflow: hidden;
  .modal {
    top: 100px;
  }
}

// override for smaller sized modal (50)
.modal-small {
  width: $maxSmallModalWidth !important;
  margin-left: -($maxSmallModalWidth/2) !important;
}



.with-header {
  .modal-header {
    display: block;
  }
  .modal-body {
    @include border-radius(0 0 10px 10px);
    border-top: none;
    .icon-close {
      display: none;
    }
  }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
}

// /* Responsiveness... */
@media screen and (max-width: $widthTablet) {
  .modal {
    right: 1%;
    left: 1%;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    &.modal-overflow {
      right: 1%;
      left: 1%;
      bottom: auto;
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
      padding: 0 !important;
    }
    &.fade.in, &.modal-overflow.fade.in {
      top: 1%;
      bottom: auto;
    }
    
  }
  .modal-header,
  .modal-body {
    .column {
      clear: both;
    }
    .icon-close {
      display: none;
    }
  }
  .modal-header {
    nav {
      margin: 0 2% 15px;
      > a {
        width: 20% !important;
        &:first-child {
          display: none;
        }
      }
    }
  } 
  .modal-body, .modal-overflow .modal-body {
    position: static;
    margin: 0;
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
  }
  .modal-footer, .modal-overflow .modal-footer {
    position: static;
  }
}