$fontfamily: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
$fontfamily-thick: 'Helvetica Neue',Helvetica,'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;

/* <h1>Typography</h1>

    <p>Default text</p>
    <a href="#">Link</a>
    <h1>Header 1 (=160%)</h1>
    <h2>Header 2 (=140%)</h2>
    <h3>Header 3 (=120%)</h3>
    <h4>Header 4 (=100%) </h4>
    <h5>Header 5 (=90%)</h5>
    <h6>Header 6 (=85%)</h6>
*/

body, input, select, textarea {
  font-family: $fontfamily;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: .9em;
}
h6 {
  font-size: 0.85em;
}
a {
  text-decoration: none;
  color: $blue-darker;
  &:hover {
    text-decoration: underline;
  }
  &.disabled {
    color: inherit;
  }
}

/* <h1>Legal text</h1>

This should be moved to its own module!!

*/
  
.legal {
  h1, p {
    line-height: 140%;
    margin: 1em 0;
  }
  .indented {
    margin-left: 1.5em;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: square;
    padding-left: 2em;
  }
}

