/* 
Colors

Available color variables. Please use these variables instead of declaring your own hex or rgb(a) colors, in order to promote consistency across the site.<br/><br/>

  * <div class="badge" style="width: 250px; font-size:14px;background: #C3C6CB;">$page-background-color</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #252525; color: #FFF;">$page-text-color</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #304E79; color: #FFF;">$page-link-color</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #FFF;">$page-header-background-color</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #EEF1F8;">$main-content-background-color</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #9FB3D7;">$heading-blue</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #C5DF9B;">$selected-highlight</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #AAA;">$footer-background-color</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #FFF;">$white</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #CCC;">$gray</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #CCC;">$button-bg-default</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #3F94F6;">$button-bg-cta</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #CCC;">$border-color-default</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #FFF;">$box-primary-bg</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #FEFEFE;">$box-secundary-bg</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #659300;">$success</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #F60;">$notice</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #F00;">$alert</div>
  * <div class="badge" style="width: 250px; font-size:14px;background: #3696FF;">$info</div>

Styleguide 1.2
*/

$page-background-color: #C3C6CB;
$page-text-color: #252525;
$page-link-color: #304E79;
$page-header-background-color: #FFF;
$main-content-background-color: #EEF1F8;
$heading-blue: #9FB3D7;
$selected-highlight: #C5DF9B;
$footer-background-color: #AAA;
$white: #FFF;
$gray: #CCC;
$button-bg-default: #CCC;
$button-bg-cta: #3F94F6;
$border-color-default: #CCC;
$box-primary-bg: #FFF; // white
$box-secundary-bg: #FEFEFE; // light gray
$success: #659300; // green
$notice: #F60; // orange
$alert: #F00; // red
$info: #3696FF; // blue
