/* 

Dimensions

- $numColumns: 24;
- $widthSmartphone: 320px;
- $widthMiniTablet: 568px;
- $widthTablet: 768px;
- $widthDesktop: 960px;
- $maxModalWidth: $widthDesktop * .85;
- $maxSmallModalWidth: $widthDesktop * .58;
- $pageTransitionTime: .3s;
- $sidebarWidthDesktop: 4.5;
- $sidebarWidthTablet: 10;
- $sidebarWidthMiniTablet: 15;
- $sidebarWidthSmartphone: 20;
- $headerHeightDesktop: 65px;
- $headerHeightTablet: 50px;
- $headerHeightMiniTablet: 50px;
- $headerHeightSmartphone: 50px;

Please keep in mind that when making changes to these values, to update the documentation as well.

Styleguide 1.1
*/

// using a 24 column grid system
$numColumns: 24; 

// tiers of screensizes
$widthSmartphone: 320px;
$widthMiniTablet: 568px;
$widthTablet: 768px;
$widthDesktop: 960px;
$maxModalWidth: $widthDesktop * .85;
$maxSmallModalWidth: $widthDesktop * .58;
$pageTransitionTime: .3s;

// sidebar width definition, in columns (of 24)
$sidebarWidthDesktop: 4.5;
$sidebarWidthTablet: 10;
$sidebarWidthMiniTablet: 15;
$sidebarWidthSmartphone: 20;

// header height definition (used to offset dropdown etc)
$headerHeightDesktop: 65px;
$headerHeightTablet: 50px;
$headerHeightMiniTablet: 50px;
$headerHeightSmartphone: 50px;