#confirm-cover {
  position: absolute;
  opacity: 0.8;
  z-index: 5100;
  width: 100%;
  height: 100%;
  background-color: $white;
  top: 0px;
  left: 0px;
  display: none;
}
#confirm {
  position: absolute;
  z-index: 5101;
  width: 300px;
  border: 10px solid $grey-dark;
  @include border-radius(10px);
  background: $white;
  padding: 20px;
  text-align: center;
  display: none;
  .icon-close {
    color: $grey-dark;
  }
  .buttons {
    margin-top: 20px;
    .btn {
      padding: 6px 10px;
      float: none;
    }
    .yes {
      margin-right: 7px;
    }
  }
}