.user-pane {
  .follow-user-container {
    margin-top: 3px;
    text-align: center;
    .follow-user {
      float: none;
    }
  }
  .details {
    .invite-accept {
      float: right;
    }
  } 
  .column {
    > figure {
      margin-left: 8%;
      width: 80%;
      img {
        width: 100%;
      }
      a {
        display: block;
      }
    }
    nav {
      margin: 8%;
      border: 1px solid $grey-dark;
      width: 80%;
      a {
        display: block;
        border-top: 1px solid $grey-dark;
        background: $grey-light;
        color: $grey-darker;
        line-height: 3em;
        padding: 0 5%;
        &:first-child {
          border-top: 0;
        }
        &:hover {
          background: $blue-lightest;
          color: $grey-darker;
        }
        &.selected {
          background-color: $white;
          background-position: 95% 0;
          color: $black;
          cursor: default;
        }
        i {
          float: right;
        }
      }
    }
  }
  .event-meta h6 {
    margin-bottom: 4px;
  }
  .user-pane-item-list {
    overflow: auto;
    margin-left: 0px;
    .invite-accept {
      float: right;
      margin-left: 1%;
    }
  }
}

@media screen and (max-width: $widthTablet) {
  .user-pane {
    position: relative;
    .column {
      width: 100%;
      figure {
        width: 25%;
        margin: 0 2%;
      }
      nav {
        clear: both;
        width: 100%;
        border: none;
        margin: 4% 0 0 2%;
        a {
          display: inline-block;
          width: 23%;
          font-size: 0.9em;
          margin: 0 0.5% 0 0;
          padding: 1% 0;
          background: none;
          text-align: center;
          background: $blue-lightest;
          border: 1px solid $grey;
          line-height: 1.5em;
          position: relative;
          &:first-child {
            border: 1px solid $grey;
          }
          &.selected {
            background: $white;
            border: 1px solid $grey;
            border-bottom-color: $white;

            z-index: 10;
          }
          &.friend-requests {
            display: none;
          }
          span {
            display: block;
          }
          .icon-arrow-right {
            display: none;
          }
        }
      }
    }
    header {
      position: absolute;
      top: 1%;
      left: 30%;
    }
    article {
      width: 100%;
      position: static;
      .follow-btn {
        margin-right: 2%;
      }
      > .details {
        margin-top: -1px !important;
      }
    }
    .user-event > div.left {
      margin: 0 !important;
    }
  }
}