/* <h1>Forms</h1>

    <form class="inline-box">
      <div>
        <input type="text" name="search" placeholder="Search" class="input-txt">
      </div>
      <input type="submit" value="Search" class="btn-submit">
    </form>
*/

form.inline-box {
  div {
    float: left;
    background: $white;
    border: 1px solid $grey;
    border-right-width: 0;
    width: 70%;
    height: 16px;
    padding: 4px 1%;
  }
  .input-txt {
    border: none;
    width: 88%;
    margin: 0 1.5%;
    &::-ms-clear {
      display: none;
    }
  }
  .btn-submit {
    float: left;
    width: 20%;
    height: 26px;
  }
  // optional 'X' to clear the search, hidden by default
  // shown when form has class ".active"
  .icon-close {
    display: none;
    font-size: .85em;
    color: $grey-dark;
    margin-left: 5px;
  }
  &.active .icon-close {
    display: inline-block;
  }
}

@media screen and (max-width: $widthTablet) {
  form.inline-box {
    background: $white;
    margin: 0;
    > div {
      width: 77%;
    }
  }
  input[type="text"] {
    margin: 0;
  }
  input[type="submit"] {
    @include border-radius(0);
  }
}
@media screen and (max-width: $widthSmartphone) {
  form.inline-box {
    div {
      width: 65%;
    }
    input[type="text"] {
      width: 79%;
    }
    .btn-submit {
      width: 30%;
    }
  }
}