.sidebar {
  @include col($sidebarWidthDesktop);
  clear: both;
  .location {
    font-size: .9em;
    font-weight: bold;
  }
  aside {
    @extend .clearfix;
    padding: 0 0 2%;
    &:first-child {
      padding: 0;
    }
    &:last-child {
      padding-bottom: 200px;
    }
    .selected {
      font-family: $fontfamily-thick;
      color: $black;
      text-decoration: none;
      cursor: default;
    }
    .location {
      padding: 6px 0 2px 2%;
      border-bottom: 1px solid $grey;
      @extend .ellipsis;
      li {
        display: inline;
        a {
          padding: 0 3%;
        }
      }
      .icon-location {
        display: inline-block;
        color: $blue-darker;
        font-size: 1.3em;
        width: 20px;
        position: relative;
        top: 2px;
      }
      .extra {
        display: block;
        font-weight: normal;
        margin-left: 20px;
      }
    }
    .searches {
      .icon-close {
        display: none;
        margin: 3% 3% 0 0;
        font-size: 0.6em;
      }
      li a.term {
        @extend .ellipsis;
      }
    }
    .indented {
      li {
        padding: 1% 0;
      }
      a {
        display: block;
        padding: 2% 5% 2% 7%;
        &.selected {
          background: $grey-light;
        }
        &:hover {
          text-decoration: none;
          background: $grey-lighter;
        }
        sup {
          margin-left: 5%;
          padding: 0 2%;
          font-size: 0.8em;
          color: $grey-dark;
          border: 1px solid $grey;
        }
      }
    }
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
    padding: 8% 0 2%;
    color: $grey-darker;
  }
  section {
    overflow: hidden;
    width: 90%;
    margin: 5px auto;
  }
  .you {
    display: none;
  }
}
@media screen and (max-width: $widthTablet) {
  .sidebar {
    background: $grey-darker;
    color: $white;
    font-size: 1.2em;
    h3,
    h5,
    a,
    .icon-location,
    .icon-calendar {
      color: $grey !important;
    }
    .extra {
      font-size: .9em;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: $grey;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        ccolor: $grey;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $grey;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $grey;
    } 
    a.selected,
    li a:hover,
    #datepicker.selected,
    #datepicker:hover,
     {
      background: $grey-darkest !important;
      box-shadow: inset 0 1px 2px $black;
    }
    h3 {
      font-weight: normal;
      font-size: .8em;
      padding: 1% 2%;
      border-top: 1px solid $grey-darkest;
      margin:0;
      @include background-gradient($grey-darker, $grey-darkest);
    }
    .location {
      border-bottom: none !important;
      padding-left: 6% !important;
      font-size: 1em;
      font-weight: normal !important;
    }
    #datepicker {
      border: none;
      padding: 1% 0;
      input {
        background: $grey-darker;
        font-size: 1em;
      }
      &:hover input {
        background: $grey-darkest !important;
      }
    }
    .friendbar a {
      color: $white !important;
    }
    .you {
      display: block;
      font-size: .9em;
      .userpic {
        @include col(4);
        @include append(1);
        img {
          width: 100%;
        }
      }
      ul {
        @include col(19);
      }
    }
  }
}