.ie8 label.placeholder,
.ie9 label.placeholder {
  color: $grey-dark;
  position: absolute;
  overflow: hidden;
}
.ie8 .branding .logo {
  background-image: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/logo@2x.png',sizingMethod='scale')";
}

.ie8 .user-box > .name-gradient,
.ie9 .user-box > .name-gradient {
  background: url("/img/name-bg.png") repeat-x left top !important;
  padding-top: 0;
}

.ie8 .restricted-bg1,
.ie9 .restricted-bg1 {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDD', endColorstr='#F7F7F7');
  zoom: 1;
}

.ie8 .loading-events #animate .gradient,
.ie9 .loading-events #animate .gradient {
  background: transparent;
}

.ie8 .loading-events #animate .gradientLeft,
.ie9 .loading-events #animate .gradientLeft {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#00eeeeee',GradientType=1 );
}

.ie8 .loading-events #animate .gradientRight,
.ie9 .loading-events #animate .gradientRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eeeeee', endColorstr='#eeeeee',GradientType=1 );
}

.ie8 .facepile {
  .status {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    top: 23px !important;
    left: 2px !important;
    font-weight: bold !important;
  }
  .you_interested .status {
    top: 17px !important;
  }
}
.ie8 .btn-interested i,
.ie9 .btn-interested i {
  top: -3px !important;
}
.ie8 .header-search .btn-fb,
.ie9 .header-search .btn-fb {
  top: 0 !important;
}
