/*
Banner

Promotional banner, displayed inside the page header

Markup:
<section class="banner {$modifiers}">
  <header>
    <a href='/custom'>
      <span class="text hidden-phone">Back to School Special: 15% Off and Free Shipping<x> on All Covers &amp; Cases! Code BTS13</span>
      <span class="text visible-phone">Back to School: 15% Off + Free Shipping: <strong>BTS13</strong></span>
      <span class="link">Shop Now</span>
    </a>
  </header>
</section>

.halloween      - 'Halloween' themed banner

Styleguide 5.4
*/
.banner {
  @include background-gradient($page-header-background-color, $main-content-background-color);
  padding: 1% $page-gutter-size 2%;
  header {
    background-color: $box-primary-bg;
    border: 1px solid $border-color-default;
    @include box-shadow(0 3px 5px $border-color-default);
    padding: .5% 0;
    text-align: center;
    h4 {
      font-size: 1.2em;
    }
    a {
      color: $page-link-color;
      white-space: nowrap;
      margin-left: .5em;
      text-decoration: underline;
    }
    span {
      color: darken($gray,20);
    }
    @media screen and (max-width: $page-width-smartphone) {
      font-size: 1em;
    }
  }  
  &.halloween header {
    @include background-gradient($notice, darken($notice, 10%));
    border: 2px solid $page-text-color;
    .text {
      color: $page-text-color;  
    }
    .link {
      color: $white;
    }
  }
  &.holidays {
    .text {
      color: #C54245;
    }
    header:hover {
      border-color: #C54245;
      background-color: #FEE3DF;
    }
  }
}