/* 

Dropdowns

Markup:
  <div class="dropdown">
    <span>Dropdown</span>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>
  </div>

Styleguide 4.4
*/

.dropdown {
  z-index: 2;
  position: relative;
  > span {
    line-height: 1.2em;
  }
  > ul {
    display: none;
    position: absolute;
    background: #A7AFB2;
    position: absolute;
    left: 0;
    top: 1.8em;
    z-index: 3;
  }
  li {
    display: block;
    min-width: 150px;
    white-space: nowrap;
    a {
      display: block;
      &:hover {
        background: $selected-highlight;
      }
    }
  }
  &:hover {
    > ul {
      display: block;
      min-width: 150px;
    }
  }
}