.facepile {
  @extend .clearfix !optional;
  clear: both;
  h6 {
    float: left;
    margin-left: 10px;
    position: relative;
    min-width: 26px;
    height: 70px;
    color: $white;
    padding-left: 2px;
    .count {
      text-align: center;
      display: block;
      font-size: 1.2em;
      padding-top: 2px;
      font-weight: bold;
    }
    .status {
      text-align: right;
      @include text-rotate(270deg);
      position: absolute;
      top: 32px;
      left: -10px;
      width: 55px;
      height: 29px;
      font-size: .9em;
      line-height: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .you {
      font-size: 1.1em;
    }
  }
  > {
    h6:first-child {
      margin-left: 0 !important;
    }
    a {
      float: left;
      padding-left: 2px;
      position: relative;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .user-box {
    position: relative;
    width: 70px;
    height: 70px;
    &.no-photo {
      background: url('/img/profile_100.png') no-repeat;
      background-size: 100%;
    }
    .name-gradient {
      width: 70px;
    }
  }
  img {
    display: block;
    width: 100%;
  }
  img .name-gradient,
  .user-box .name-gradient {
    @include background-gradient(transparent, unquote('rgba(0,0,0,0.70)'));
    font-size: .9em;
    left: 0;
    bottom: 0;
    overflow: hidden;
    color: $white;
    display: block;
    padding-top: 5px;
    position: absolute;
    text-align: left;
  }
  img .name-gradient span,
  .user-box .name-gradient span {
    color: $white;
    margin: 2px;
    width: 60px;
    @extend .ellipsis;
  }
  a.see-all {
    background: $grey;
    color: $black;
    width: 24px;
    height: 24px;
    padding: 23px 3px;
    background-color: $grey-light;
    text-align: center;
    text-decoration: none;
  }
  .you_going, .friend_going {
    background: $green-light;
  }
  .you_invited, .friend_invited {
    background: $purple;
  }
  .friend_interested, .you_interested, .friend_maybe, .you_maybe {
    background: $blue-bright;
  }
  .other_going, .other_interested, .other_maybe, .other_invited, .other_undefined {
    background: $grey-darker;
  }
}

.empty {
  padding: 25px;
  background: $grey-light;
  @include border-radius(3px);
  h1 {
    margin: 0 0 20px;
  }
  img {
    width: 70px;
    height: 70px;
  }
  .btn {
    float: right;
    border: 1px solid $green-darkest;
    @include background-gradient($green, $green-darkest);
    background: $green;
    color: $white;
    margin-top: 12px;
    padding: 10px 25px;
    font-size: 18px;
    @include border-radius(3px);
    @include box-shadow(2px 2px 2px $grey);
    &:hover {
      background: $grey;
      text-decoration: none;
    }
  }
  .btn-disabled {
    background: $grey;
  }
}

@media screen and (max-width: $widthMiniTablet) {
  .facepile {
    clear: both;
    margin-top: 0 !important;
    > {
      h6 {
        display: none;
      }
      a {
        width: 17%;
        padding: 1%;
        margin-right: 1%;
        min-height: 40px;
        overflow: hidden;
        @include border-radius(5px);
        img {
          @include border-radius(5px);
          width: 98% !important;
        }
        .name-gradient {
          @include border-radius(0 0 5px 5px);
        }
        &.see-all {
          margin: 0;
          padding: 9.5% 1% 0;
          max-width: 24px;
        }
      }
      a:nth-of-type(5) {
        margin-right: 0;
      }
      a:nth-of-type(6) {
        display: none;
      }
    }
    .user-box {
      width: auto;
      height: auto;
    }
  }
}

@media screen and (max-width: $widthSmartphone) {
  .facepile {
    > a {
        width: 22.5%;
    }
    a:nth-of-type(4) {
      margin-right: 0;
    }
    a:nth-of-type(5) {
      display: none;
    }
  }
}