.invite-friends {
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
    font-size: 1.0em;
  }
  .friend {
    border: 1px solid $grey;
    display: inline-block;
    margin: .5%;
    padding: .5%;
    vertical-align: top;
    width: 47.5%;
  }
  .name {
    @extend .ellipsis;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    width: 90%;
  }
  .icon-remove {
    text-decoration: none;
    color: $grey;
    font-size: 0.6em;
  }
  img {
    float:left;
    margin-right: 10px;
    text-decoration: none;
    height: 30px;
    width: 30px;
  }
  .friend:hover .icon-remove {
    display: inline-block;
  }
  .skip-btn {
    color: $grey-dark;
    font-size: 0.8em;
    line-height: 0.9em;
  }
  .typeahead-search {
    width: 250px;
    margin: 10px auto 5px;
    input {
      width: 250px;
      padding: 2px;
    }
  }
  .dropdown-menu {
    li {
      width: 250px;
      a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 20px;
        color: #333333;
        white-space: nowrap;
      }
    }
    .active > a {
      color: $white;
      text-decoration: none;
      background-color: $blue-darkest;
      outline: 0;
    }
  }

  .modal-header {
    padding: 2%;
  }
  .modal-body {
    padding: 2%;
    h3 {
      text-shadow: 0 1px 0 $white;
    }
    p {
      clear: left;
      padding-top: 5px;
      span, label {
        @extend .txt-ss;
        color: $grey-dark;
      }
      .btn,
      .btn-fb {
        float: right;
      }
    }
  }

}