.event-pane {
  @include border-radius(0 0 10px 10px);
  position: relative;
  border-top-width: 0;
  figure .pic {
    @include border-radius(5px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $white;
    background-size: 100%;
    background-size: cover;
    margin-left: 8%;
    width: 80%;
    padding: 3%;
    height: 200px;
  }
  article {
    i {
      margin-right: 10px;
      float: left;
      color: $turquoise;
      font-size: 1.1em;
    }
    .actions {
      @extend .clearfix;
      display: block;
      margin: 0 2% 0 1%;
    }
    .invite-btn,
    .status-btn {
      @extend .btn;
      margin-left: 1%;
      float: right;
    }
    .event {
      > div {
        @extend .clearfix;
        margin-left: 10px;
        padding: 10px 0;
      }
      .venue-map-link {
        float: left;
        margin-right: 2%;
      }
      .summary, .see-more-text {
        float: left;
        width: 95%;
      }
      .location {
        .left {
          @extend .ellipsis;
        }
        span {
          display: block;
        }
      }
    }
    .host-info a.userpic {
      float: left;
      margin-right: 10px;
      width: 70px;
      height: 70px;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $widthMiniTablet) {
  .event-pane {
    article {
      width: 100% !important;
      float: none !important;
      header {
        width: 70%;
        float: right;
      }
      > section.actions {
        padding-top: 5px;
        margin-left: none !important;
        clear: both;
        .invite-btn {
          display: none;
        }
      }
    }
    .details {
      > div > div {
        float: none;
      }
      .summary, .see-more-text {
        width: 88% !important;
      }
    }
    .carousel-cnt {
      .dialog-event-people {
        width: 80%;
      }
      .carousel-right {
        right: 0;
        padding: 0;
      }
      .carousel-left {
        left: 0;
        padding: 0;
      }
      .end-overlay {
        right: 10%;
      }
    }
  }
}