.loading-pane {
  min-height: 400px;
  background-image: url('/img/loading_bar.gif');
  background-position: center 100px;
  background-repeat: no-repeat;
}

.loading-tab {
  @extend .loading-pane;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  z-index: 3;
  padding: 2%;
  display: none;
}