.modal-header {
  h2 {
    font-size: 2.2em !important;
  }
  nav > a {
    @extend .btn-navigation;
    width: 10%;
    &:nth-child(2) {
      float: right;
    }
  }
}
.modal-body {
  > {
    figure,
    .column {
      @include col(6);
    }
    figure a {
      display: block;
      min-height: 10%;
    }
    figure img {
      width: 90%;
      border: 1px solid $grey;
    }
    article {
      @include col(18);
      float: right;
      > header {
        margin: -4px 1% 1%;
        h2 {
          font-weight: bold;
        }
      }
      .user-pane-item-list {
        max-height: 480px;
        overflow: auto;
      }
      .details {
        margin: 2% 2% 4% 1%;
        background: $white;
        border: 1px solid $grey;
        > div {
          @extend .clearfix;
          min-height: 200px;
        }
        h4 {
          margin: 10px 0;
          @include prepend(.5);
          font-weight: bold;
          color: $grey-darker;
        } 
      }
      .event-view {
        @extend .clearfix;
        padding-top: 20px;
        padding-bottom: 20px;
        &:first-child {
          padding-top: 10px;
        }
        &:last-child {
          border-bottom: none;
        }
        > figure {
          @include col(5);
        }
        > article {
          @include col(18);
          @include append(.5);
          .event-meta {
            h3 {
              line-height: 22px;
              height: 22px;
            }
          }
        }
      }
      .no-events {
        margin: 10px;
      }
      .user-event {
        padding: 10px;
        background: $white;
        border-bottom: 1px solid $grey-light;
        &:last-child {
          border-bottom: none;
        }
        > div.left {
          width: 300px;
          color: $grey-darker;
          margin-left: 10px;
        }
        a > b {
          display: block;
        }
      }
      .user-event-date {
        color: $grey-darkest;
      }
      .user-events {
        overflow: auto;
        height: 369px;
        margin-left: 0px;
      }
      .user-events-head {
        width: 325px;
        border: 1px solid $blue-light;
        border-left: 0;
        padding: 2px 2px 2px 0;
        background: $white;
        @include border-radius(0 3px 3px 0);
        b {
          display: block;
          background: $grey-light;
          padding: 8px 10px 4px 20px;
        }
      }
    }
    footer {
      clear: both;
      margin: 2%;
    }
  }
}