.notify-dialog {
  padding: 3%;
  p {
    margin: 1em 0;
  }
  .main-content {
    background: $white;
    border: 1px solid $grey;
    padding: 2%;
  }
  ul {
    margin: 10px;
  }
  input {
    margin-right: .5em;
  }
  a {
    float: right;
    margin-top: 1em;
  }
  div.saved_text {
    float:right;
    clear: right;
    margin-top: 1em;
  }
}