#signup {
  top: 70px;
  .modal-header {
    padding: 2%;
    h2 {
      text-align: center;
      font-size: 2.5em;
    }
  }
  .modal-body {
    @include border-radius(0 0 10px 10px);
    padding: 2% 4%;
    border-top-width: 0;
    h3 {
      text-shadow: 0 1px 0 $white;
    }
    p {
      clear: left;
      padding-top: 5px;
      span, label {
        @extend .txt-ss;
        color: $grey-dark;
      }
      .btn,
      .btn-fb {
        float: right;
      }
    }
  }
  .invite-city-friends {
    h4 {
      width: 70%;
      float: left;
    }
    #includeFriends {
      margin-right: 5px;
    }
  }
  .loading-events {
    .friend-name {
      font-weight: bold;
    }
    #animate {
      height: 190px;
      width: 400px;
      margin: auto;
      position: relative;
      overflow: hidden;
      .gradient {
        position: absolute;
        z-index: 1011;
        width: 90px;
        height: 190px;
      }
      .gradientLeft {
        background: -webkit-gradient(linear, right top, left top, from(rgba(238, 238, 238, 0)), to(#eeeeee));
        background: -webkit-linear-gradient(linear, from(rgba(238, 238, 238, 0)), to(#eeeeee));
        background: -o-linear-gradient(linear, from(rgba(238, 238, 238, 0)), to(#eeeeee));
        background: -ms-linear-gradient(pos, from(rgba(238, 238, 238, 0)), to(#eeeeee));
        background: linear-gradient(pos, from(rgba(238, 238, 238, 0)), to(#eeeeee));
      }
      .gradientRight {
        right: 0;
        background: -webkit-gradient(linear, left top, right top, from(rgba(238, 238, 238, 0)), to(#eeeeee));
        background: -webkit-linear-gradient(linear, from(rgba(238, 238, 238, 0)), to(#eeeeee));
        background: -o-linear-gradient(linear, from(rgba(238, 238, 238, 0)), to(#eeeeee));
        background: -ms-linear-gradient(pos, from(rgba(238, 238, 238, 0)), to(#eeeeee));
        background: linear-gradient(pos, from(rgba(238, 238, 238, 0)), to(#eeeeee));
      }
      .facepile {
        margin: 0;
      }
      .container {
        position: absolute;
        z-index: 1010;
        .carousel-item {
          float: left;
          width: 180px;
          height: 180px;
          margin-right: 20px;
        }
        .user-box {
          width: 180px;
          height: 180px;
          border: 3px solid $grey-dark;
          @include border-radius(10px);
          img {
            width: 180px;
            height: 180px;
            @include border-radius(7px);
          }
          > div {
            @include border-radius(7px);
            span {
              width: 180px;
            }
          }
        }
      }
    }
    .buttons {
      margin: 10px 0 0;
      text-align: center;
      visibility: hidden;
      .btn-fb {
        display: inline-block;
        width: 130px;
        text-align: center;
        margin-left: 55px;
      }
      .skip {
        padding: 4px 8px;
        margin-left: 10px;
        color: $grey-dark;
      }
    }
  }
  .next-card {
    color: $blue-darkest;
    line-height: 200%;
  }
  .blank-card {
    margin: 40px;
  }
  #informational-text {
    padding-top: 20px;
    margin-left: -50px;
    font-size: 16px;
    color: $black;
  }
}

.loading-page {
  width: 500px;
  margin: 100px auto;
  text-align: center;
  color: $grey-darker;
}

.loading-page-indicator {
  background: url("/img/hangtime-logo.png") 0 50% no-repeat;
  padding-left: 250px;
  margin-bottom: 60px;
  min-height: 70px;
  text-align: left;
  > span {
    font-weight: bold;
    color: $grey-darkest;
    display: block;
    padding: 25px 0 10px;
  }
}

#signup-arrow-one {
  position: absolute;
  display: none;
  z-index: 20000;
  top: 315px;
}

#signup-arrow-two {
  position: absolute;
  display: none;
  z-index: 20000;
  left: 280px;
}

.confirm-register {
  text-align: center;
  select {
    display: block;
    margin: 20px auto;
    width: 80%;
  }
  a.btn {
    display: block;
    float: none;
    margin: 20px auto;
    width: 100px;
    padding: 0;
    line-height: 30px;
    font-size: 1.1em;
    background-color: $green;
    padding: 3px 5px;
    border: 1px solid $green-darkest;
    color: $white;
    font-weight: bold;
  }
  > a b {
    font-size: 1em;
  }
}

#welcome {
  height: 500px;
}

#register {
  height: 500px;
}

.signup-logo {
  width: 25%;
  margin: 0 4% 4% 0;
  float: left;
}

.register-page {
  position: absolute;
  top: 15%;
  width: 100%;
}

.register-box {
  background: white url("/img/starburst.jpg") no-repeat 50% 0;
  @include border-radius(10px);
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  .plus-fb {
    background: url("/img/plus-fb.png") 100% 50% no-repeat;
    width: 240px;
    margin: 0 auto 10px;
    text-align: left;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: $grey-darkest;
  }
}

.register-box-top {
  text-align: center;
  color: $grey-darkest;
  font-size: 14px;
  margin: 0 0 10px;
  h1 {
    color: $red-darkest;
    font-size: 22px;
    letter-spacing: -1px;
    padding: 0;
    margin: 0 0 10px;
    text-shadow: 1px 1px 0 $white;
  }
}

.register-box2 {
  margin: 0 10px;
  padding: 20px;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.6));
  border: 1px solid $grey-light;
  @include border-radius(10px);
  background: $white;
  text-align: center;
  > div {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  select {
    padding: 3px;
  }
  .plus-fb {
    margin: 0 auto 10px 30px;
    img {
      margin-left: 50px
    }
  }
 }

@media screen and (max-width: 759px) {
  #signup {
    width: 98% !important;
    left: 1% !important;
    input[type='checkbox'] {
      width: 1em;
      position: relative;
      top: 0.3em;
    }
  }
}